body {
    background-color: white;
    padding: 20px 20px
}

h1 {
    margin-bottom: 20px;
}

.speakers {
    max-width: 400px;
}

.cblist {
    border: solid 1px gray;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
}

.chart {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 3px;
    margin: 5px;
    overflow-y: scroll;
}

.chartTitle {
    font-weight: bold;
}

.obs {
    width: 70px;
    height: 0px;
    background-color: lightcoral;
    border: 1px solid black;
    text-align: center;
    overflow: hidden;
    transition: height 1s;
}


.obsTitle {
    width: 70px;
    height: 30px;
    text-align: center;
    background-color: transparent;
}

.ok {
    background-color: lightgreen;
    border: solid 1px black;
}

.filteredNb {
    color: green;
}

.filtered0 {
    color: gray
}

.sameShape {
    background-color: lightgreen;
}
.diffShape {
    background-color: lightcoral;
}

.eoe {
    color: #026300
}

.deciles {
    color: chocolate;
}